
@{
    ViewData["Title"] = "Inicio";
}

@section SideBar{
    <h1>Bienvenido a Desayunos</h1>
		<img src="~/img/1.jpg" alt="img1" />
                <img src="~/img/3.jpg" alt="img12"/>
                <img src="~/img/4.jpg" alt="img31"/>
                <img src="~/img/5.jpg" alt="img14"/>
}

<div>
    <p>El desayuno es la primera comida que se consume en el día. El nombre deriva del hecho de que uno no come mientras duerme, por lo que al levantarse se encuentra en ayunas, rompiéndose ese ayuno al tomar esta comida (des-ayuno).</p>
    <p>Se ha demostrado que los niños que no desayunan o que solo toman un vaso de leche, rinden menos en el colegio que los que ingieren un desayuno adecuado.</p>
    <h1>Desayuno americano</h1>
    <p>Desayuno Americano fue un programa de televisión argentino conducido por Pamela David que se estrenó el 27 de abril de 2011 y terminó el 5 de mayo de 2017, por América TV.</p>
</div>