
*{
    margin:0;
    padding:0;
    list-style: none;
    
}

body{
    text-align:center;
    display:grid;
    grid-template-areas:"h h n"
                        "m m s"
                        "f f f";
    height:100%;

}
img{
    width:50%;
}
#Menu{
    border: 1px solid black;
    display:flex;
    flex-direction:column;
    justify-content: center;
    grid-area:s;
    float:right;
}
.other-views {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
}

header {
    border: 1px solid black;
    grid-area: h;
}
main {
    border: 1px solid black;
    grid-area: m;
}
nav {
    border: 1px solid black;
    grid-area: n;
}
footer {
    border: 1px solid black;
    grid-area: f;
}